@import url('https://fonts.googleapis.com/css2?family=Geologica&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    margin:0;
    font-family: 'Geologica', sans-serif;
}

header {
    position: sticky;
    top: 0;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #DDE6ED;
    color: #27374D;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header span {
    font-size: 2rem;
    font-weight: bolder;
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: #27374D;
}

header ul li {
    margin-left: 1rem;
}

header ul li:nth-child(1) {
    margin-left: 0;
}

header ul li a {
    text-decoration: none;
    color: #526D82;
}

header ul li a:hover {
    text-decoration: none;
    color: #27374D;
    font-weight: bolder;
}

main {
    background-color: #9DB2BF;
    padding: 2rem;
    color: #27374D;
}

article {
    padding-bottom: 2rem;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

article:last-child {
    padding-bottom: 0;
}

article h3 {
    padding-top: 5px;
    padding-bottom: 2rem;
    color: #526D82;
}

article p {
    text-align: justify;
    padding-bottom: 10px;
}

article ul {
    list-style: square;
    margin-left: 15px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #27374D;
    color: #DDE6ED;
    padding: 2rem;
}